@import "../../utils/breakpoints/breakpoints.scss";

.carousselContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include sm1 {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    // background-color: yellow;
  }
}

.caroussel {
  position: relative;
  // margin-top: clamp(0rem, 0.5vw * 1.5, 2rem);
  height: clamp(25rem, 40vh, 30rem);
  width: clamp(30rem, 100%, 37rem);

  // backgroundImage: `url("../../../public/images/prodPictures/${currentImage}")`,
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -3rem;

  @include xxs {
    border-radius: 1.3rem;
  }

  @include sm1 {
    height: clamp(25rem, 45vh, 40rem);
    width: clamp(30rem, 100%, 37rem);
    background-size: cover;
    background-position-y: 0;

    border-radius: 1.3rem;
  }

  .back {
    position: absolute;
    height: 4rem;
    width: 4rem;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);

    display: grid;
    place-items: center;

    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }

  .next {
    position: absolute;
    height: 4rem;
    width: 4rem;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);

    display: grid;
    place-items: center;

    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }
}
