.buttonCounterAmount {
  // padding: 10px;
  height: 45px;

  display: flex;
  align-items: center;

  background-color: var(--light_grayish_blue);
  border: none;
}

.addToCart {
  // correct this one!!
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: var(--orange);
  // filter: drop-shadow(0 0 0.65rem var(--orange));
  box-shadow: 0px 15px 30px -5px hsl(26, 100%, 55%, 0.5);
  border: none;
  border-radius: 7px;

  color: var(--white);
}
