:root {
  font-family: "Kumbh Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --orange: hsl(26, 100%, 55%);
  --pale_orange: hsl(25, 100%, 94%);
  --very_dark_blue: hsl(220, 13%, 13%);
  --dark_grayish_blue: hsl(219, 9%, 45%);
  --grayish_blue: hsl(220, 14%, 75%);
  --light_grayish_blue: hsl(223, 64%, 98%);
  --backgroundColor: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --fontSize_xs: var(--step-0);
  --fontSize_s: var(--step-1);
  --fontSize_m: var(--step-2);
  --fontSize_l: var(--step-3);
  --fontSize_xl: var(--step-4);
  --fontSize_xxl: var(--step-5);
  --fontWeight-thin: 400;
  --fontWeight-thick: 700;
  --fontSize_nav: var(--font_standard);
  --fontSize_button: var(--font_standard);
  --fontSize_price: 22px;
  --fontSize_company: var(--fontSize_s);
  --fontColor_company: var(--orange);
  --fontWeight_company: 700;
  --fontSize_company_mobile: 15px;
  --fontColor_company_mobile: var(--orange);
  --fontWeight_company_mobile: 700;
  --fontColor_categories-mobile: var(--dark_grayish_blue);
  --fontSize_product-title: 4rem;
  --fontWeight_product-title: 700;
  --fontSize_product-title_mobile: var(--fontSize_xl);
  --fontWeight_product-title_mobile: 700;
  --fontSize_description: var(--fontSize_s);
  --fontColor_description: var(--dark_grayish_blue);
  --fontSize_price: 28px;
  --fontWeight_price: var(--fontWeight_700);
  --fontSize_discount: 16px;
  --fontWeight_discount: var(--fontWeight_700);
  --fontSize_formerPrice: 15px;
  --fontWeight_formerPrice: var(--fontWeight_700);
  --fontSize_counter: 13px;
  --fontWeight_counter: var(--fontWeight_700);
  --fontSize_cartButton: 13px;
  --fontWeight_counter: var(--fontWeight_700);
  --fontWeight_sideMenu: 700;
  --fontWeight_400: 400;
  --fontWeight_700: 700;
  --step--2: clamp(0.6944rem, 0.5832rem + 0.5557vw, 1rem);
  --step--1: clamp(0.8331rem, 0.6815rem + 0.758vw, 1.25rem);
  --step-0: clamp(1rem, 0.7955rem + 1.0227vw, 1.5625rem);
  --step-1: clamp(1.2rem, 0.9261rem + 1.3693vw, 1.9531rem);
  --step-2: clamp(1.44rem, 1.0759rem + 1.8205vw, 2.4413rem);
  --step-3: clamp(1.7281rem, 1.2468rem + 2.4068vw, 3.0519rem);
  --step-4: clamp(2.0738rem, 1.4406rem + 3.1659vw, 3.815rem);
  --step-5: clamp(2.4881rem, 1.659rem + 4.1455vw, 4.7681rem);
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 5vw, 36rem);
  --space-3xs: clamp(0.25rem, 0.1591rem + 0.4545vw, 0.5rem);
  --space-2xs: clamp(0.5rem, 0.3409rem + 0.7955vw, 0.9375rem);
  --space-xs: clamp(0.75rem, 0.5rem + 1.25vw, 1.4375rem);
  --space-s: clamp(1rem, 0.6818rem + 1.5909vw, 1.875rem);
  --space-m: clamp(1.5rem, 1.0227rem + 2.3864vw, 2.8125rem);
  --space-l: clamp(2rem, 1.3636rem + 3.1818vw, 3.75rem);
  --space-xl: clamp(3rem, 2.0455rem + 4.7727vw, 5.625rem);
  --space-2xl: clamp(4rem, 2.7273rem + 6.3636vw, 7.5rem);
  --space-3xl: clamp(6rem, 4.0909rem + 9.5455vw, 11.25rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0rem + 1.25vw, 0.9375rem);
  --space-2xs-xs: clamp(0.5rem, 0.1591rem + 1.7045vw, 1.4375rem);
  --space-xs-s: clamp(0.75rem, 0.3409rem + 2.0455vw, 1.875rem);
  --space-s-m: clamp(1rem, 0.3409rem + 3.2955vw, 2.8125rem);
  --space-m-l: clamp(1.5rem, 0.6818rem + 4.0909vw, 3.75rem);
  --space-l-xl: clamp(2rem, 0.6818rem + 6.5909vw, 5.625rem);
  --space-xl-2xl: clamp(3rem, 1.3636rem + 8.1818vw, 7.5rem);
  --space-2xl-3xl: clamp(4rem, 1.3636rem + 13.1818vw, 11.25rem);
  /* Custom pairs */
  --space-s-l: clamp(1rem, 0rem + 5vw, 3.75rem);
  --grid-max-width: 116.25rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.4286rem + 2.8571vw, 3.75rem));
  --grid-columns: 12;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  line-height: 1.5;
  font-size: var(--fontSize_s);
  color: black;
  background-color: var(--backgroundColor);
  -webkit-font-smoothing: antialiased;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

li {
  display: grid;
  place-items: center;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

h1,
h1 + h2,
h2 + p {
  padding-bottom: 1.25rem;
}/*# sourceMappingURL=global.module.css.map */