.main {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30.5rem, 1fr));
  gap: var(--gutter, var(--space-s-l));

  background-color: var(--white);
}
