.main {
  position: relative;
  height: 100dvh;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31.5rem, 1fr));
  gap: var(--gutter, var(--space-s-l));

  overflow: hidden;

  // background-color: var(--white);
  border: 3px solid red;
}
