.product {
  width: 100%;
  padding: 0 clamp(1.5rem, 3vw, 3rem);
  background-color: lightgreen;
  // padding: clamp();
}

.company {
  font-size: var(--fontSize_company);
  font-weight: var(--fontWeight_company);
  color: var(--fontColor_company);

  // @include mobile {
  //   margin-top: 20px;
  //   font-size: var(--fontSize_company_mobile);
  // }
  // @include wide {
  //   margin-top: 80px;
  //   font-size: var(--fontSize_company);
  // }
}

.title {
  font-size: var(--fontSize_product-title_mobile);
  font-weight: var(--fontWeight_company);
  line-height: 1.2;
  // @include mobile {
  //   margin-top: 10px;
  //   font-size: var(--fontSize_product-title_mobile);
  //   font-weight: var(--fontWeight_product-title);
  // }
  // @include wide {
  //   margin-top: 20px;
  //   font-size: var(--fontSize_product-title);
  //   font-weight: var(--fontWeight_product-title);
  // }
}

.desciption {
  font-size: var(--fontSize_description);
  color: var(--fontColor_description);
  line-height: 1.6;
}

.priceContainer {
  display: flex;
  align-items: center;
  font-weight: var(--fontWeight_price);

  // @include mobile {
  //   display: flex;
  //   align-items: center;
  //   // grid-template-columns: repeat(10, 1fr);
  //   grid-template-rows: repeat(2, 1fr);
  // }
  // @include wide {
  //   display: grid;
  //   align-items: center;
  //   grid-template-columns: repeat(8, 1fr);
  //   grid-template-rows: repeat(2, 1fr);
  //   grid-template-areas:
  //     "price price discount discount discount discount discount discount"
  //     "formerPrice formerPrice formerPrice formerPrice formerPrice formerPrice formerPrice formerPrice";
  // }

  .price {
    margin-right: clamp(1.5rem, 5vw, 3rem);

    display: flex;
    align-items: center;

    font-size: var(--fontSize_xl);
  }

  .discount {
    padding: 2px 8px;
    display: flex;
    place-items: center;

    background-color: var(--pale_orange);
    border-radius: 7px;
    font-size: var(--fontSize-m);
    color: var(--orange);

    // @include mobile {
    //   grid-row: 1;
    // }
    // @include wide {
    //   grid-area: discount;
    //   justify-self: start;
    // }
  }

  .formerPrice {
    width: 100%;
    display: flex;
    justify-content: end;

    font-size: var(--fontSize-m);
    font-weight: var(--fontWeight_700);
    color: var(--grayish_blue);

    text-decoration: line-through;

    // @include mobile {
    //   width: calc(335px - 47px - 106px);
    //   text-align: right;
    // }
    // @include wide {
    //   grid-area: formerPrice;
    //   justify-self: start;
    //   text-align: left;
    // }
  }
}

.checkout {
  margin-top: 1rem;
  margin-bottom: 50px;

  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 15px;

  .ulCounterContainer {
    // correct this one !!!!

    display: flex;
    justify-content: space-around;
    background-color: var(--light_grayish_blue);

    border-radius: 7px;
  }

  .liCounter {
    display: flex;
    align-items: center;

    font-size: var(--fontSize_counter);
    font-weight: var(--fontWeight_counter);
  }
}
