@import "../../utils/breakpoints/breakpoints.scss";

.product {
  width: 100%;
  padding: 0 clamp(1.5rem, 5vw, 3rem);

  // background-color: lightgreen;

  @include sm1 {
    min-height: calc(100dvh - clamp(5.5rem, 10vw, 10rem));

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.company {
  font-size: var(--fontSize_company);
  font-weight: var(--fontWeight_company);
  color: var(--fontColor_company);

  @include sm1 {
    font-size: var(--fontSize_company_desktop);
  }
}

.title {
  font-size: var(--fontSize_product-title);
  font-weight: var(--fontWeight_company);
  line-height: 1.2;

  @include sm1 {
    font-size: var(--fontSize_product-title_mobile);
  }
  @include md2 {
    font-size: var(--fontSize_product-title_mobile_2);
  }
}

.desciption {
  font-size: var(--fontSize_description);
  color: var(--fontColor_description);
  line-height: 1.6;

  @include sm1 {
    font-size: var(--fontSize_description_desktop);
  }
}

.priceContainer {
  display: flex;
  align-items: center;
  font-weight: var(--fontWeight_price);

  @include sm1 {
    width: 50%;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "price discount" "formerPrice formerPrice";

    line-height: 1.2;
  }

  .price {
    margin-right: clamp(1.5rem, 5vw, 3rem);

    display: flex;
    align-items: center;

    font-size: var(--fontSize_l);

    @include sm1 {
      grid-area: price;
      font-size: var(--fontSize_price_desktop);
    }
  }

  .discount {
    padding: 0px 7px;
    display: flex;
    place-items: center;

    background-color: var(--pale_orange);
    border-radius: 7px;
    font-size: var(--fontSize_discount);
    color: var(--orange);

    @include sm1 {
      padding: 2px 8px;
      display: flex;
      justify-content: center;
      grid-area: discount;

      font-size: var(--fontSize_discount_desktop);
    }
  }

  .formerPrice {
    width: 100%;
    display: flex;
    justify-content: end;

    font-size: var(--fontSize-m);
    font-weight: var(--fontWeight_700);
    color: var(--grayish_blue);

    text-decoration: line-through;

    @include sm1 {
      grid-area: formerPrice;
      justify-content: start;
      font-size: var(--fontSize_formerPrice_desktop);
    }
  }
}

.checkout {
  margin-top: 1rem;
  margin-bottom: 50px;

  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 15px;

  .ulCounterContainer {
    // correct this one !!!!

    display: flex;
    justify-content: space-around;
    background-color: var(--light_grayish_blue);

    border-radius: 7px;
  }

  .liCounter {
    display: flex;
    align-items: center;

    font-size: var(--fontSize_counter);
    font-weight: var(--fontWeight_counter);
  }
}
