@import "../../utils/breakpoints/breakpoints.scss";

.header {
  height: 5.5rem;

  display: flex;
  place-items: center;
  border: 1px solid black;

  @include sm {
    height: clamp(5.5rem, 10rem, 12rem);
  }

  // @container (max-width: 500px) {
  // }

  // @include mobile {
  //   height: 70px;
  //   border-bottom: none;
  // }

  // @include wide {
  //   height: 110px;
  //   border-bottom: 3px solid rgba(83, 83, 83, 0.1);
  // }
}
