@import "../../utils/breakpoints/breakpoints.scss";

.open {
  position: absolute;
  z-index: 15;
  width: 70%;
  height: 100%;

  background-color: var(--backgroundColor);
}

.closed {
  display: none;
}

@keyframes slide-in {
  0% {
    transform: translateX(-200px);
  }
  70% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-30px);
  }
}
@keyframes slide-out {
  // EXPANDING SIDE MENU
  0% {
    transform: translateX(-30px);
  }
  70% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
  }
}

// @include mobile {
//   position: fixed;
//   height: 667px;

//   background-color: rgb(255, 255, 255);

//   transition: 0.4s ease-out;

//   font-weight: var(--fontWeight_sideMenu);
//   z-index: 20;

//   &.close {
//     width: 0px;
//     opacity: 0;

//     .back_icon {
//       display: none;
//       position: absolute;
//       top: 20px;
//       left: 20px;
//     }
//   }
//   &.open {
//     width: 260px;
//     opacity: 1;
//     transform: translateX(-0.5px);

//     .back_icon {
//       display: block;
//       position: absolute;
//       top: 15px;
//       left: 15px;
//     }
//   }
// }
