@import "../../utils/breakpoints/breakpoints.scss";

.burgerContainer {
  padding-right: 5vw;
  height: 100%;
  width: 10%;

  display: flex;
  place-items: center;
  // background-color: lightblue;

  @include xs {
    display: none;
  }
}

.burgerMenu {
  display: flex;
  // height: 1.7rem;

  cursor: pointer;
}
