// #root {
//   height: 100%;
//   width: 100%;
//   background-color: red;
// }

.page {
  position: relative;
  min-height: 100dvh;
  max-width: 100rem;

  display: grid;
  grid-template-columns: 1fr;

  background-color: var(--backgroundColor);
  border-left: 1px solid black;
  border-right: 1px solid black;

  .cover {
    position: absolute;
    z-index: 10;

    height: 100%;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.8);
  }
}
