@import "../../utils/breakpoints/breakpoints.scss";

// #root {
//   height: 100%;
//   width: 100%;
//   background-color: red;
// }

.page {
  position: relative;
  min-height: 100dvh;
  max-width: 100rem;

  background-color: var(--backgroundColor);

  .cover {
    position: absolute;
    z-index: 10;

    height: 100%;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.8);
  }
}
