@import "../../utils/breakpoints/breakpoints.scss";

.navWide {
  display: none;

  @include xs {
    position: relative;
    padding: 0 3.5rem;
    height: 100%;
    width: 60%;
    display: block;

    display: flex;

    font-size: var(--fontSize_s);
    font-weight: var(--fontWeight-thin);
    color: var(--fontColor_categories-mobile);

    // background-color: lightgreen;

    .start {
      @include md {
        display: none;
      }
    }
    .end {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);

      display: flex;
      justify-content: center;

      @include md {
        display: none;
      }
    }
  }

  @include md {
    padding: 0 clamp(0rem, 0.5vw, 2rem);
    width: 70%;
  }

  .ul {
    display: none;
    @include xs {
      position: relative;
      width: 100%;

      display: block;
      display: flex;
      flex-wrap: nowrap;
      gap: clamp(0.5rem, 0.75rem, 2rem) clamp(1rem, 3vw, 10rem);

      font-size: var(--fontSize_xs);
      overflow-x: scroll;
      line-height: 1.1;

      // background-color: lightcyan;
    }
  }
}
