@import "../../utils/breakpoints/breakpoints.scss";

// .closed {
//   display: none;
// }

.navMobile {
  height: 100%;
  padding: 80px clamp(1.5rem, calc(3vw + 0.5rem), 3rem);

  font-size: var(--step-2);
  font-weight: var(--fontWeight-thick);
  line-height: 2.5;
}

.navWide {
  display: none;

  @include sm {
    display: block;
    font-size: var(--fontSize_s);
    font-weight: var(--fontWeight-thin);
  }

  .ul {
    @include sm {
      display: flex;
      gap: clamp(1rem, 3vw, 5rem);
    }
  }
}

.open {
  position: absolute;
  z-index: 20;

  background-color: var(--backgroundColor);
}

// .non_mobile {
//   @include sm {
//     display: none;
//   }
//}
